.header__content {
  display: flex;
  height: 490px;
  justify-content: space-between;
}

/*-----Content Left-----*/
.content_left {
  flex: 1;
}

.content_left h1 {
  margin-top: 65px;
  font-size: 36px;
  line-height: 1.4;
  text-transform: uppercase;
  font-family: "MullerExtraBold";
}

.content_left__get_video {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 358px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.get_video__info {
  border-bottom: 2px solid #f8f8f8;
  display: inline-block;
  padding-bottom: 20px;
  font-size: 16px;
}