.kitchen_type {
  width: 791px;
  min-height: 267px;
  background-color: #fff;
  margin-top: 20px;
  justify-content: center;
  padding-top: 38px;
}

.kitchen_type__info {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "MullerBold";
}

.kitchen_type__switch {
  margin-top: 28px;
  display: flex;
}

.switch__type {
  flex: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.switch__specialist_advice {
  flex: 1;
  height: 100%;
  width: 100%;
  outline: 1px solid orange;
}

.variant_label {
  margin-bottom: 22px;
  text-align: center;
  color: rgba(142, 142, 142, 255);
  cursor: pointer;
}

.variant_label > div:first-child {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  background-image: url("/static/images/radio-blur.png");
}

.variant_label_active {
  color: #1a1a1a;
}

.variant_label_active > div:first-child {
  background-image: url("/static/images/radio-active.png");
}

.variant_image {
  max-width: 122px;
  text-align: center;
}

.expert_advice {
  max-width: 122px;
  text-align: center;
  color: rgba(142, 142, 142, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
}

.expert_advice.variant_label_active > div:first-child {
  background-image: none;
}

.expert_advice.variant_label_active {
  color: #1a1a1a;
}

.expert_advice > div:last-child {
  font-size: 35px;
}
