.range_picker {
  width: 791px;
  height: 201px;
  outline: 1px solid red;
  padding-top: 29px;
}
.range_picker__info {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "MullerBold";
}
.range_picker__range_input {
  padding-top: 10px;
  text-align: center;
}
