@font-face {
  font-family: "MullerMedium";
  src: url("/static/fonts/MullerMedium.otf");
}
@font-face {
  font-family: "MullerBold";
  src: url("/static/fonts/MullerBold.otf");
}
@font-face {
  font-family: "MullerExtraBold";
  src: url("/static/fonts/MullerExtraBold.otf");
}
@import "node_modules/react-modal-video/scss/modal-video.scss";
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  margin: 0;
  font-family: "MullerMedium";
  font-size: 20px;
  color: #1a1a1a;
}
.purpure_text {
  color: #5e50c2;
}
